In [1]:
import pandas as pd
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep='\t')
### Display the first 10 rows of ‘chipo’.
print(chipo.head(10))
### Determine the total number of entries in ‘chipo’.
print(chipo.shape[0])  # Using shape
# or
print(chipo.info())  # Using info
### Find the total number of columns in ‘chipo’.
print(chipo.shape[1])  # Using shape
# or
print(len(chipo.columns))  # Using columns
###  Print all the column names.
print(chipo.columns)
###Understand how the DataFrame is indexed.
print(chipo.index)

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl
5         3         1                           Chicken Bowl
6         3         1                          Side of Chips
7         4         1                          Steak Burrito
8         4         1                       Steak Soft Tacos
9         5         1                          Steak Burrito

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
5  [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...    $10.98
6                                                NaN     $1.69
7  [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.75
8  [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...     $9.25
9  [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...     $9.25
4622
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB
None
5
5
Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')
RangeIndex(start=0, stop=4622, step=1)

In [2]:
### Find the most ordered item.
print(chipo['item_name'].value_counts().idxmax())

Chicken Bowl

In [4]:
### Find the total number of items ordered.
print(chipo['quantity'].sum())

4972

In [3]:
### Find the most ordered item in the 'choice_description' column.
print(chipo['choice_description'].value_counts().idxmax())

[Diet Coke]

In [13]:
# Check the current datatype of 'item_price'
print(chipo['item_price'].dtypes)

# If it's not a float, convert it
if chipo['item_price'].dtypes != 'float64':
    chipo['item_price'] = chipo['item_price'].str.replace('$', '')  # Remove the dollar sign
    chipo['item_price'] = chipo['item_price'].astype(float)  # Convert the column to float

# Confirm the conversion
print(chipo['item_price'].dtypes)

float64
float64

In [8]:
###Calculate the total revenue.
print(chipo['item_price'].sum())

34500.16

In [10]:
### Find the total number of orders.
print(chipo['order_id'].nunique())

1834

In [11]:
### Compute the average order value.
total_revenue = chipo['item_price'].sum()
total_orders = chipo['order_id'].nunique()
average_order_value = total_revenue / total_orders
print(average_order_value)

18.811428571428575

In [12]:
### Determine the total number of unique items sold.
print(chipo['item_name'].nunique())

50

In [14]:
### Use the already created dataframe ‘chipo’ from the previous section.
### Using conditional selection, find the count of products that cost more than $10. Note: the price is listed in the ‘item_price’ column.
# Filter the DataFrame
chipo_over_10 = chipo[chipo['item_price'] > 10]

# Count the number of products
num_products_over_10 = chipo_over_10.shape[0]

# Print the result
print(f'There are {num_products_over_10} products that cost more than $10.')

There are 1130 products that cost more than $10.

In [15]:
users = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user', sep='|')

In [16]:
mean_age = users.groupby('occupation')['age'].mean()
print(mean_age)

occupation
administrator    38.746835
artist           31.392857
doctor           43.571429
educator         42.010526
engineer         36.388060
entertainment    29.222222
executive        38.718750
healthcare       41.562500
homemaker        32.571429
lawyer           36.750000
librarian        40.000000
marketing        37.615385
none             26.555556
other            34.523810
programmer       33.121212
retired          63.071429
salesman         35.666667
scientist        35.548387
student          22.081633
technician       33.148148
writer           36.311111
Name: age, dtype: float64

In [17]:
# Define data
raw_data_1 = {
    'subject_id': ['1', '2', '3', '4', '5'],
    'first_name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],
    'last_name': ['Anderson', 'Ackerman', 'Ali', 'Aoni', 'Atiches']
}

raw_data_2 = {
    'subject_id': ['4', '5', '6', '7', '8'],
    'first_name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'],
    'last_name': ['Bonder', 'Black', 'Balwner', 'Brice', 'Btisan']
}

raw_data_3 = {
    'subject_id': ['1', '2', '3', '4', '5', '7', '8', '9', '10', '11'],
    'test_id': [51, 15, 15, 61, 16, 14, 15, 1, 61, 16]
}

# Create DataFrames
data1 = pd.DataFrame(raw_data_1, columns = ['subject_id', 'first_name', 'last_name'])
data2 = pd.DataFrame(raw_data_2, columns = ['subject_id', 'first_name', 'last_name'])
data3 = pd.DataFrame(raw_data_3, columns = ['subject_id', 'test_id'])

In [18]:
all_data = pd.concat([data1, data2])
print(all_data)

  subject_id first_name last_name
0          1       Alex  Anderson
1          2        Amy  Ackerman
2          3      Allen       Ali
3          4      Alice      Aoni
4          5     Ayoung   Atiches
0          4      Billy    Bonder
1          5      Brian     Black
2          6       Bran   Balwner
3          7      Bryce     Brice
4          8      Betty    Btisan

In [19]:
all_data_col = pd.concat([data1, data2], axis=1)
print(all_data_col)

  subject_id first_name last_name subject_id first_name last_name
0          1       Alex  Anderson          4      Billy    Bonder
1          2        Amy  Ackerman          5      Brian     Black
2          3      Allen       Ali          6       Bran   Balwner
3          4      Alice      Aoni          7      Bryce     Brice
4          5     Ayoung   Atiches          8      Betty    Btisan

In [26]:
### Assign appropriate column names to the DataFrame, such as ‘sepal_length’, ‘sepal_width’, ‘petal_length’, ‘petal_width’, and ‘species’.
### Check if there are any missing values in ‘iris’ using the isnull() function.
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"
iris = pd.read_csv(url, header=None)  # The dataset does not contain a header
column_names = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']
iris.columns = column_names
missing_values = iris.isnull().sum()
print(missing_values)

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [27]:

# Create data dictionary
data = {'evolution': ['Ivysaur', 'Charmeleon', 'Wartortle', 'Metapod'],
        'hp': [45, 39, 44, 45],
        'name': ['Bulbasaur', 'Charmander', 'Squirtle', 'Caterpie'],
        'pokedex': ['yes', 'no', 'yes', 'no'],
        'type': ['grass', 'fire', 'water', 'bug']}

# Convert dictionary to DataFrame
pokemon = pd.DataFrame(data)
# Rearrange columns
pokemon = pokemon[['name', 'type', 'hp', 'evolution', 'pokedex']]

In [29]:
url = "https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv"
baby_names = pd.read_csv(url)
print(baby_names.head(10))
baby_names = baby_names.drop(columns=['Unnamed: 0', 'Id'])

   Unnamed: 0     Id      Name  Year Gender State  Count
0       11349  11350      Emma  2004      F    AK     62
1       11350  11351   Madison  2004      F    AK     48
2       11351  11352    Hannah  2004      F    AK     46
3       11352  11353     Grace  2004      F    AK     44
4       11353  11354     Emily  2004      F    AK     41
5       11354  11355   Abigail  2004      F    AK     37
6       11355  11356    Olivia  2004      F    AK     33
7       11356  11357  Isabella  2004      F    AK     30
8       11357  11358    Alyssa  2004      F    AK     29
9       11358  11359    Sophia  2004      F    AK     28

In [32]:
# Retrieve the dataset
url = "https://raw.githubusercontent.com/datasets/investor-flow-of-funds-us/master/data/weekly.csv"
investor_data = pd.read_csv(url)
# Convert 'Date' to datetime
investor_data['Date'] = pd.to_datetime(investor_data['Date'])

# Check frequency
print(investor_data.Date.diff().value_counts())

# Set 'Date' as index
investor_data.set_index('Date', inplace=True)

Date
7 days      37
21 days      2
448 days     1
56 days      1
6 days       1
43 days      1
Name: count, dtype: int64